html,
body {
    height: 100%;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    min-height: 568px;
    background-color: #F5F5F5;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.page-title {
    margin-top: 0 !important;
    /*padding-top: 5px;*/
    float: left;
    display: inline-block;
    margin-right: 15px;
}

a:focus {
    outline: none !important;
}

.panel-default {
    box-shadow: none !important;
}

.grid-view thead tr.filters td {
    padding-bottom: 15px !important;
}

.grid-view tbody tr td {
    height: 0px;
    padding-bottom:0px;
}

.m-tb-20 {
    margin: 20px 0;
}

.date-filter-input {
    margin-left: 35px;
    width: 97px !important;
}

.grid-view tbody tr .quick-actions {
    display: none;
    margin-top: 0px;
}

.grid-view .action-title {
    display: inline-block;
    padding-bottom: 10px;
}

.grid-view tbody tr:hover .quick-actions {
    display: block;
}

.grid-view .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.quick-actions {
    font-size: 0.9em;
    margin-top: 2px;
}

.quick-actions a {
    padding-right: 5px;
}

.quick-actions a:before {
    content: '';
    border-left: 1px solid silver;
    padding-left: 5px;
}

.quick-actions a:first-child:before {
    content: none;
}

.record-info .form-group {
    margin-bottom: 5px;
}

.record-info .form-group .btn {
    width: 48%;
}

.record-info .form-group .btn-file-input {
    width: 100% !important;
}

.ui-datepicker {
    z-index: 999 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #F9F9F9 !important;
}

.dot-left:before, .dot-right:after {
    content: "\2022";
    display: inline-block;
    margin: 0 5px;
}

.avatar img {
    border: 1px solid #d2d2d2;
    background: #f6f8f9;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.fa-font-family {
    font-family: 'FontAwesome';
}

.navbar-brand b {
    font-size: 1.1em
}
.navbar-brand .yee-logo {
    margin: -5px 5px 0 0; 
    float:left;
    opacity: 0.9;
}
.navbar-brand:hover .yee-logo {
    opacity: 1;
}


.switcher{
    border: none;
    background: #b3b8c3;
    color: #FFF;
    height: 20px;
    min-width: 40px;
    font-size: 11px;
    border-radius: 10px;
    padding: 1px;
}
.switcher .slider{
    background: #f0f3f3;
    height: 18px;
    border-radius: 10px;
    box-shadow: none;
}
.switcher.is-active{
    background: #27b6af;
}
.switcher .textNo{
    color: #fff;
}
