.jq-checkbox {
    border-radius: 2px;
    background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.jq-radio {
    width: 14px;
    height: 14px;
    background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
}

.jq-radio.checked .jq-radio__div {
    width: 6px;
    height: 6px;
}

.jq-file__name {
    height: 32px;
    font: 14px/30px Arial, sans-serif;
}

.jq-file__browse {
    background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
    font: 14px/30px Arial, sans-serif;
}

.jq-selectbox {
    min-height: 36px;
}

.jq-selectbox__select {
    height: 30px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.071);
    font: 14px/30px Arial, sans-serif;
    background: #fff;
}

.jq-selectbox__select:hover {
    background: #f1f1f1;
}

.jq-selectbox__trigger-arrow {
    top: 12px;
    right: 12px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    opacity: 0.7;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    opacity: 0.3;
}

.jq-selectbox__dropdown {
    top: 33px;
    margin: 0;
}

input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
    padding: 7px 9px;
}

button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
    padding: 7px 11px;
    background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
}