@charset "UTF-8";
body{background-color:#F2F3F7;width:100%;max-width:640px;margin:0 auto;padding:0;font-family: "微软雅黑";}
/*登陆样式*/
/* header{width:100%;max-width:640px;height:44px;position: relative;border-bottom: 1px solid #ddd;background-color: #fff;} */

.icon-back{display:inline-block;width:14px;height:14px;vertical-align:middle;border-left:2px solid #0065B2;border-bottom:2px solid #0065B2;-webkit-transform:rotate(45deg);transform:rotate(45deg);box-sizing:border-box;position:absolute;top:15px;left:16px;}
.cm-header i{font-size:22px;font-weight:300;vertical-align:middle;line-height:44px}
.zhuce{position: absolute;right: 16px;top:10px;font-size: 20px;color:#0065B2;}
.phone_num{margin-top: 20px;background-color: #fff;padding-left: 20px;}
.phone_num input{height: 50px;width:100%;font-size: 16px;text-align: left;}
.input01{border-bottom: 1px solid #ddd;}
.password{position: relative;}
.password a{position: absolute;right: 14px;top:15px;color:#0065B2;}
.login{width: 100%;padding:0 15px;}
.login .denglu{height: 40px;background-color: #10a1ec;border-radius:3px;display: block;text-align: center;line-height: 40px;color:#fff;margin-top: 30px;font-size: 18px;}
.rem{text-align: right;width: 100%;padding:0 15px;margin-top: 20px;}
.rem a{color:#10a1ec;}
/*注册样式*/
.yz{position: relative;}
.yz a{width: 90px;height: 36px;display: block;text-align: center;line-height: 36px;border-radius: 2px;background-color: #10a1ec;color:#fff;position: absolute;top:6px;right:14px; }

.yz a:click{width: 90px;height: 36px;display: block;text-align: center;line-height: 36px;border-radius: 2px;background-color:#AFABAB;color:red;position: absolute;top:6px;right:14px; }

.rem01{width: 100%;padding:0 15px;margin-top: 20px;}
.rem01 .gou{width: 16px;height: 16px;background: url(../images/icon.png) no-repeat -286px -102px;background-size:400px 315px;-webkit-background-size:400px 315px;display: inline-block;vertical-align: middle;}
.rem01 .read{vertical-align: middle;color:#999;}
.rem01 a{vertical-align: middle;padding-left: 10px;color:#10a1ec;}
/*联系我们*/
.relational{width: 100%;padding-left: 15px;}
.relation{width: 100%;background-color: #fff;padding-left: 15px;margin-top: 12px;}
.relation li{border-bottom: 1px solid #ddd;line-height: 40px;}
.relation li:last-child{border-bottom: 0 none;}
.hot_line{width: 140px;display: inline-block;}
.hot_line img{width:25px;height:25px;vertical-align:middle;}
.lianxi{overflow: hidden;}
.kefu{overflow:hidden;text-overflow:ellipsis;/*white-space:nowrap;*/float: left;width: 95%;}
.icon01{margin:20px 10px 0 0;display:inline-block;width:14px;height:14px;border-left:1px solid #A2A2A2;border-bottom:1px solid #A2A2A2;-webkit-transform:rotate(-130deg);transform:rotate(-130deg);box-sizing:border-box;float: right;}
.shuzi{font-size: 14px;}
/*常见问答样式*/
.wenda{background-color: #fff;padding-left:10px;border-bottom: 1px solid #ddd;}
.wenda li{line-height: 50px;/*border-bottom: 1px solid #ddd;*/}
.wenda li:last-child ul li{border-bottom:0 none;}
.wen{width: 24px;height:24px;background-color: #57BDED;border-radius:2px;color:#fff;display: inline-block;text-align: center;line-height: 24px;}
.da{width: 24px;height: 24px;background-color:#36E775;border-radius: 2px;color:#fff;display: inline-block;text-align: center;line-height: 24px;}
.detail_a1 li{line-height: 24px;border-bottom: 1px solid #ddd;padding:14px 0;}
.juli{/* padding-left: 5px; */
	padding-right: 5px;
}
.line-a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.wenda li:last-child .line{border:0 none;}
.detail_a1 .juli{color:#999;/* padding-right: 20px; */font-size: 14px;}
.float{overflow: hidden;border-bottom: 1px solid #ddd;}
.line-a1{float: left;width: 90%;}
.arrow{width:14px;height:8px;margin:22px 0 0;background:url(../images/arrow.png) no-repeat 0 1px;background-size:14px;display:inline-block;float: right;margin-right: 10px;}
/*关于清道夫样式*/
.hezuo li{position: relative;}
.logo{width: 100%;text-align: center;}
.arrow_r::after{content:"";width:12px;height:12px;border-left:1px solid #666;border-bottom:1px solid #666;-webkit-transform:rotate(-130deg);transform:rotate(-130deg);box-sizing:border-box;position: absolute;right: 15px;top:18px;}
.logo_img{background: url(../images/logo.png) no-repeat;width: 38px;height: 51px;display:inline-block;}
.logo p{color:#999;padding-top: 10px;}
.fot{width: 100%;text-align: center;padding:0 10px;}
.fot span{color:#10a1ec;line-height: 40px;}
.fot p{font-size: 14px;}
/*认证个人样式*/
.shenfen p{line-height: 44px;text-align: center;color:#999;font-size:14px;}
.tupian{width: 100%;height:150px;padding:20px 0 20px 10px;background-color: #fff;overflow: hidden;}
.tupian .photo1{width: 45%;height: 150px;float:left;margin-left:10px;}
.file{position: absolute;left:0px;top:0px;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);}
.file input{width: 51px;height: 51px;}
.chuan{position: relative;float: left;}
.photo01 span{width: 51px;height: 51px;border:1px solid #ddd;border-radius: 4px;display: inline-block;float: left;margin-left: 20px;}
.basic{width: 100%;background-color: #fff;}
.basic .ct{margin-right: 10px;width: 4px;height: 20px;background-color: #10a1ec;display: inline-block;vertical-align: middle;margin-left: 10px;}
.basic li:first-child .color{vertical-align: middle;color:#10a1ec;font-size: 18px;}
.basic .name{width:21%;display: inline-block;color:#333;}
.basic input{font-size: 14px;}
.select{vertical-align: middle;}
.basic .last_li01{border-bottom:0 none;}
.last_li .method{margin-left: 10px;}
.basic01{border-bottom: 1px solid #ddd;margin-left: 0;}
.last_li textarea{text-align: left;resize: none;width:100%;color:#999;padding-top:18px;overflow-y:visible ;}
.anli{display: inline-block;vertical-align: top;}
.area{display: inline-block;position: relative;width:70%;}
.area span{position: absolute;left:0px;top:10px;line-height: 24px;color:#999;font-size: 14px;}
.basic02{border-bottom: 1px solid #ddd;}
/*认证样式*/
.shenfen01 p{color:#333;font-size: 20px;}
.lb{width: 100%;padding:0 10px;}
.lb li{padding:10px 0;overflow: hidden;background-color: #fff;margin-top:20px;}
.lb .img_a{width: 34%;height: 140px;background:url(../images/r1.png) top center no-repeat;background-size:100%;}
.lb .img_b{width: 34%;height: 140px;background:url(../images/r2.png) top center no-repeat;background-size:100%;}
.lb .img_c{width: 34%;height: 140px;background:url(../images/r3.png) top center no-repeat;background-size:100%;}
.img_a,.img_b,.img_c{float: left;width: 16%;margin-top: 10px;margin-left:10px;}
.geren{float:left;font-size: 14px;width: 40%;margin-top:6px;padding-left:2%;}
.lb a{width:20%;height: 30px;color:#ffae02;text-align: center;line-height: 30px;display:inline-block;    padding-left: 4%;font-size: 14px;background:url(../images/authentication.png) left  no-repeat;background-size:20%;}
.lb a active{width:20%;height: 30px;color:#28c99f;text-align: center;line-height: 30px;display:inline-block;font-size: 14px;background:url(../images/authentication.png) left  no-repeat;background-size:20%;}
.ziti{font-size: 18px;color:#333;padding-bottom: 6px;}
.geren span{line-height: 28px;color:#999;}
.daili{color:#999;}
.bottom{width: 100%;text-align: center;padding:0 10px;}
.bottom span{padding-top:14px;display: block;font-size: 14px;;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*设置样式*/
.yijian span{width: 100px;/*font-weight: bold;*/font-size: 16px;color:#333;}
.xiugai{position: relative;width: 100%;padding:0 15px;background-color: #fff;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-top: 20px;margin-bottom: 20px;}
.xiugai span{line-height: 50px;font-size: 16px;color:#333;}
.yijian li a{display: block;line-height: 50px;color:#333;}
.tuichu{width: 100%;text-align: center;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;background-color: #fff;margin-top: 20px;}
.tuichu a{line-height: 50px;font-size: 18px;color:#ED444B;}
.xiugai a{display: block;line-height: 50px;color:#333;}
/*忘记密码样式*/
.yan_zhen{width: 100%;}
.yan_zhen p{padding-top:20px;padding-left: 15px;font-size: 18px;}
/*我的保存样式*/
.list1{width: 100%;border-top: 1px solid #ddd;background-color: #fff;margin-top: 20px;}
.con{/*overflow: hidden;*/position: relative;}
.con li{padding:20px 0;position: relative;background-color: #fff;}
.con li:first-child,.preserve li:nth-child(2){border-bottom: 1px solid #ddd;}
.con .rz_ig{	width: 55px;height: 25px;background: url(../images/rongzi.png);
	display: inline-block;vertical-align: middle;background-size: 100%;}
.con .rz_ig01{	width: 55px;height: 25px;background: url(../images/cuishou.png);
	display: inline-block;vertical-align: middle;background-size: 100%;}
.con .rz_ig02{	width: 55px;height: 25px;background: url(../images/susong.png);
	display: inline-block;vertical-align: middle;background-size: 100%;}
.con li .date{text-align: right;}
.con .ma{width: 40%;font-size: 14px;}
.con .date{/*float: right;*//*padding-right: 15px;*/vertical-align: middle;/*padding-top: 4px;*/font-size: 14px;position: absolute;right: 10px;}
.con .date::after{content:"";width:14px;height:14px;border-left:1px solid #A2A2A2;border-bottom:1px solid #A2A2A2;-webkit-transform:rotate(-130deg);transform:rotate(-130deg);box-sizing:border-box;position: absolute;/*right: 15px;*/top:25px;}

/*保存详情*/
.edit{position: relative;}
.cm-header a{position: absolute;font-size: 18px;color:#4279d6;right: 15px;top: 10px;}
.id{width: 100%;background-color: #42566E;padding:0 15px;overflow: hidden;}
.id span{line-height: 50px;color:#fff;}
.id .id_code{float: left;}
.id .id_await{float: right;}
.show_xx{width: 100%;padding:0 10px;background-color: #fff;border-top: 0px solid #ddd;border-bottom: 1px solid #ddd;margin-top: 10px;}
.show_xx span{padding-left:6px;line-height: 50px;vertical-align: middle;font-size: 16px;color:#10a1ec;}
.show_xx .show_line{width: 3px;height: 20px;background-color: #10a1ec;display: inline-block;}
.revert{width: 100%;padding-left:15px;background-color: #fff;border-bottom: 0px solid #ddd;}
.revert li{height:44px;border-bottom: 1px solid #ddd;overflow: hidden;}
.revert li span{line-height: 44px;}
.revert li:last-child{border-bottom: 0 none;}
.revert li:first-child .pic01{width: 16px;height: 13px;display:inline-block;background: url(../images/icon.png) no-repeat -178px -73px;background-size:400px 315px;}
.revert li:nth-child(2) .pic02{width: 16px;height: 13px;display:inline-block;background: url(../images/icon.png) no-repeat -205px -73px;background-size:400px 315px;}
.revert li:nth-child(3) .pic03{width: 14px;height: 14px;display:inline-block;background: url(../images/icon.png) no-repeat -233px -73px;background-size:400px 315px;}
.revert li:last-child .pic04{width: 14px;height: 14px;display:inline-block;background: url(../images/icon.png) no-repeat -260px -73px;background-size:400px 315px;}
.revert .revert_l{float: left;width:30%;}
.revert .revert_r{float: right;width:70%;text-align:right;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding-right: 15px;color:#666;line-height: 44px;font-size: 14px;}
.revert_l span{font-size: 14px;color:#999;}
.revert01 p span{line-height: 40px;}
.revert01 p .black{font-size:16px;color:#333;}
.revert01 p .percent{color:#999;float:right;margin-right:15px;}
.revert01 .s_lue{overflow:hidden;text-overflow:ellipsis;/*white-space:nowrap;*/}
.buchong{width: 100%;background-color: #fff;text-align: center;border-bottom: 1px solid #ddd;}
.buchong a{color:#10a1ec;line-height: 50px;}
.publish_b a{width:100%;display: block;background-color: #10a1ec;color:#fff;text-align: center;line-height: 50px;margin-top: 60px;}
/*消息提醒样式*/
.alert{width: 100%;padding:0 15px;overflow: hidden;background-color: #fff;border-top: 1px solid #ddd;line-height: 50px;margin-top: 20px;}
.alert .alert_l{float: left;color:#333;}
.alert .alert_r{float: right;color:#999;}
.reset{width: 100%;padding:0 15px;}
.reset p{padding-top: 10px;color:#999;}
/*个人信息样式*/
.person_xi .perfection{width: 100%;padding:0 15px;line-height: 50px;background-color: #fff;margin-top: 20px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;overflow: hidden;}
.xi .xi_line{width: 4px;height: 20px;background-color: #10a1ec;display:inline-block;vertical-align: middle;}
.xi .xi_rz{vertical-align: middle;font-size: 18px;color:#10a1ec;}
.rz_name{background-color: #fff;padding:0 10px;margin-top:20px;}
.rz_name li{line-height: 40px;}
.rz_name .x_name{width: 32%;display: inline-block;color:#333;font-size: 14px;}
.rz_name .rim{display: inline-block;width: 50px;height: 50px;border:1px solid #ddd;margin-top: 10px;}
.rz_name .x_name_top{vertical-align: top;}
.rz_name textarea{width: 60%;resize: none;line-height: 30px;padding-top: 5px;font-size:16px;}
.rz_name .y_name{color:#999;font-size: 14px;}
.no_fb{width: 100%;padding:0 15px;text-align: center;color:#999;padding-top: 10px;}
.no_fb p{font-size: 14px;}
.cm-header .hint{width: 18px;height: 18px;background: url(../images/icon.png) no-repeat -280px -73px;background-size: 400px 315px;-webkit-background-size:400px 315px;display: inline-block;position: absolute;top:14px;right: 14px;}
.cm-header-h{position: relative;}
.write{float: right;}
.xi{float: left;}
.write .write_icon{width: 14px;height: 14px;background: url(../images/icon.png) no-repeat -306px -73px;background-size: 400px 315px;-webkit-background-size:400px 315px;display: inline-block;vertical-align: middle;}
.write .write_xi{vertical-align: middle;color:#10a1ec;}
/*意见反馈样式*/
.feedback{width: 100%;padding:20px;background-color: #fff;}
.feedback .fank{width: 100%;}
.feedback textarea{width: 100%;resize: none;padding:14px 0 50px 0;font-size: 16px;color:#999;}
.add span{display: inline-block;width: 61px;height: 61px;background:url(../images/icon.png) no-repeat -288px -187px;background-size: 400px 315px;-webkit-background-size:400px 315px;}
.mail{width: 100%;padding:0 15px;background-color: #fff;margin-top: 20px;}
.mail input{line-height: 50px;width: 100%;font-size: 16px;}
.submit{width: 100%;padding:0 15px;}
.submit a{display: block;background-color:#10a1ec;color:#fff;text-align: center;line-height: 50px;margin-top: 20px;font-size: 16px;}
/*债权产品样式*/

    .tabFixed {
        position:absolute;
        z-index: 10;
        width: 100%;
    }
    .tabSX {
        position:absolute;
        width: 100%;
        height: 46%;
        z-index: 10;
        max-width: 640px;
    }
    .tabSX .lbTab {
        height: 100%;
    }
    .lbTab {
        height: 44px;
        position: relative;
    }
    .lbTab ul {
        height: 44px;
        border-bottom: 1px solid #ddd;
        border-top:1px solid #ddd;
    }
    .flexbox {
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        -webkit-box-orient: horizontal;
        box-orient: horizontal;
    }
    .lbTab li {
        padding: 11px 0;
        width: 25%;

    }
    .flexbox > * {
        display: block;
        box-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
    }
    .lbTab li.active a {
        color: #ff6666!important;
    }
    .lbTab li a {
        display: block;
        border-right: 1px solid #f4f4f4;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        text-align: center;
        color: #565c67!important;
        padding: 0 6px;
    }
    a {
        color: #3c3f46;
        text-decoration: none;
    }
    em, i {
        font-style: normal;
    }
    .lbTab li span {
        position: relative;
        display: inline-block;
        line-height: 21px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 13px;
    }
    .lbTab li.active span:after {
        border-color: transparent transparent #f66 transparent;
        margin-top: -6px;
    }
    .lbTab li span:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px;
        border-color: #cccfd8 transparent transparent transparent;
        right: 0;
        top: 50%;
        margin-top: -2px;
    }
    .lbTab .cont {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0;
        bottom: 0;
        /*  background-color: #fff;*/
        z-index: 10;
    }
    .lbTab .flexbox section:first-child {
        width: 25%;
    }
    .lbTab section {
        height: 100%;
        border-right: 1px solid #f4f4f4;
        overflow-y: scroll;
    }
    .lbTab .cont dd.active {
        position: relative;
        /*background-color: #f2f5f8;*/
     }

.lbTab .cont .dl02, .lbTab .cont .dl03 {
        border-bottom: 1px solid #f4f4f4;
        height: 100%;
        line-height: 43px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: #fff;
        color: #3c3f46;
 }



    .lbTab .cont dd {
        padding: 0 16px;
        border-bottom: 1px solid #f4f4f4;
        height: 44px;
        line-height: 43px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #fff;
        color: #3c3f46;
    }
    .lbTab .cont dd a {
        display: block;
        text-align:center;
        margin: 0 -16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .lbTab .cont dd a.current{background:#EEF3F6;color:#10a1ec;}
    .Divgray{width:100%;height:100%;position:fixed;background:#000;opacity:0.4;/*z-index:10;*/display:none;}
    /* .hid{width:100%;max-width:640px;height:44px;position:relative;border-bottom:1px solid #ddd;background-color:#fff; */}
    .a-header{top:0;color:#333;z-index:960;position:fixed;left:0;right:0;text-align:center;border-bottom:1px solid #ddd;background-color:#fff;max-width:640px;margin:0 auto;}
    .lbTab .flexbox section:nth-child(2) {
        width: 35%;
    }
    .lbTab .flexbox section:nth-child(3) {
        width: 40%;
        border-right: none;
    }
    .cont section::-webkit-scrollbar,
    .cont section::-webkit-scrollbar{
        width:0;
        height:0;
    }
	.Divgrey {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.7;
    z-index: 2;
    display: none;
    top:0;
}

.ui-reddot-s {
	position: relative;
	display: inline-block;
	line-height: 22px;
	padding: 0 6px;
}

.ui-reddot-s:after {
	content: '';
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #f74c31;
	border-radius: 5px;
	right: -3px;
	top: -3px;
	background-clip: padding-box;
}
	.rz_3 li {
		width: 50.00%;
		text-align: center;
		float: left;
	}