@charset "UTF-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#555; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#555; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}
*{margin:0;padding:0;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#555; }
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
*{box-sizing:border-box;}
*{margin:0;padding:0;}
body{background-color:#F2F3F7;margin:0 auto;padding:0;font-family: "微软雅黑";background-color: #F2F3F7;}

/*常见问答样式*/
.wenda{background-color: #fff;padding-left:10px;border-bottom: 1px solid #ddd;}
.wenda li{line-height: 50px;/*border-bottom: 1px solid #ddd;*/}
.wenda li:last-child ul li{border-bottom:0 none;}
.wen{width: 24px;height:24px;background-color: #57BDED;border-radius:2px;color:#fff;display: inline-block;text-align: center;line-height: 24px;}
.da{width: 24px;height: 24px;background-color:#36E775;border-radius: 2px;color:#fff;display: inline-block;text-align: center;line-height: 24px;}
.detail_a1 li{line-height: 24px;border-bottom: 1px solid #ddd;padding:12px 0;}
.juli{padding-right: 5px;}
.line-a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.wenda li:last-child .line{border:0 none;}
.detail_a1 .juli{color:#999;/* padding-right: 20px; */font-size: 14px;}
.float{overflow: hidden;border-bottom: 1px solid #ddd;}
.line-a1{float: left;width: 90%;}
.arrow{width:14px;height:8px;margin:22px 0 0;background:url(/images/arrow09.png) no-repeat 0 1px;background-size:14px;display:inline-block;float: right;margin-right: 10px;}